<header class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <a routerLink="/" class="icon" title="Portfolio"></a>
    </div>
    <nav class="header__nav" #navigation>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >All projects</a
          >
        </li>
        <li *ngFor="let item of menuItems">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [queryParams]="{ tag: item.tag }"
            >{{ item.name }}</a
          >
        </li>
        <li style="margin-right: 0">
          <a
            routerLink="about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >About portfolio</a
          >
        </li>
        <li class="contact-me">
          <a routerLink="contact" routerLinkActive="active">Contact me</a>
        </li>
      </ul>
    </nav>
    <div class="header__action-buttons">
      <button
        class="header__theme-button"
        title="Switch theme"
        (click)="switchTheme()"
      >
        <ng-template [ngIf]="isDarkTheme" [ngIfElse]="lightTheme">
          <svg
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.5235 1.55294C13.7191 2.94412 10.2265 7.15904 10.2265 12.1427C10.2265 17.1263 13.7191 21.3412 18.5235 22.7324V20.4864C14.8731 19.1807 12.3676 15.8708 12.3676 12.1427C12.3676 8.41449 14.8731 5.10467 18.5235 3.79896V1.55294Z"
              fill="#D3D3D3"
            />
            <path
              d="M21.1355 2.96252L18.3891 3.85139L18.5238 1.54162L19.1929 1.81053L19.8619 2.21393L21.1355 2.96252Z"
              fill="#D3D3D3"
            />
            <path
              d="M20.6962 21.66L18.5228 22.7292L18.525 20.4954L20.6962 21.66Z"
              fill="#D3D3D3"
            />
            <path
              d="M18.5235 1.5302C17.2382 1.02653 15.8389 0.75 14.375 0.75C8.09276 0.75 3 5.84276 3 12.125C3 18.4072 8.09276 23.5 14.375 23.5C15.8389 23.5 17.2382 23.2235 18.5235 22.7198V20.5559H18.1467C16.9951 21.0719 15.7186 21.3588 14.375 21.3588C9.2753 21.3588 5.14118 17.2247 5.14118 12.125C5.14118 7.0253 9.2753 2.89118 14.375 2.89118C15.7186 2.89118 16.9952 3.17813 18.1467 3.69412H18.5235V1.5302Z"
              fill="#D3D3D3"
            />
          </svg>
        </ng-template>

        <ng-template #lightTheme>
          <svg
            width="22"
            height="22"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.76 4.84L4.96 3.05L3.55 4.46L5.34 6.25L6.76 4.84ZM1 10.5H4V12.5H1V10.5ZM11 0.55H13V3.5H11V0.55ZM19.04 3.045L20.448 4.452L18.658 6.242L17.251 4.834L19.04 3.045ZM17.24 18.16L19.03 19.96L20.44 18.55L18.64 16.76L17.24 18.16ZM20 10.5H23V12.5H20V10.5ZM12 5.5C8.69 5.5 6 8.19 6 11.5C6 14.81 8.69 17.5 12 17.5C15.31 17.5 18 14.81 18 11.5C18 8.19 15.31 5.5 12 5.5ZM12 15.5C9.79 15.5 8 13.71 8 11.5C8 9.29 9.79 7.5 12 7.5C14.21 7.5 16 9.29 16 11.5C16 13.71 14.21 15.5 12 15.5ZM11 19.5H13V22.45H11V19.5ZM3.55 18.54L4.96 19.95L6.75 18.15L5.34 16.74L3.55 18.54Z"
              fill="#fff"
            />
          </svg>
        </ng-template>
      </button>

      <button class="header__contact pf-button primary" routerLink="contact">
        Contact me
      </button>
    </div>

    <button class="header__menu-button" #menuToggle (click)="onMenuToggle()">
      <ng-template [ngIf]="isMenuOpen" [ngIfElse]="openMenuIcon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x text-black size-32 str-width-1 ml-4"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </ng-template>
      <ng-template #openMenuIcon>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke="#fff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu text-black size-32 str-width-1"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </ng-template>
    </button>
  </div>
</header>
