@use "/src/assets/base" as *;
@use "/src/assets/mixin" as *;

.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $bg-header;
  padding: 1rem 1rem;
  box-shadow: 0 1px 5px rgba(#000, 0.2);

  @include md {
    padding: 2rem 1rem;
  }

  @include xl {
    padding: 2rem 5rem;
  }

  @include xxl {
    padding: 2rem 10rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80rem;
  }

  &__logo {
    display: flex;
    flex: 1;

    @include lg {
      flex: none;
    }

    .icon {
      width: 12rem;
      height: 3rem;
      background-image: var(--main-logo);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__nav {
    ul {
      display: none;

      @include lg {
        display: flex;
      }

      li {
        &:not(:last-of-type) {
          margin-right: 2rem;
        }

        &.contact-me {
          display: none;
        }
      }

      a {
        font-size: 0.9rem;
        color: $text-secondary;
        position: relative;

        &.active::after,
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $accent;
          bottom: -0.3rem;
          left: 0;
        }

        &:not(.active)::after {
          transform: scale(0);
          transform-origin: right;
          transition: transform 350ms ease-in;
        }

        &:hover::after {
          transform: scale(1);
          transform-origin: left;
        }
      }
    }

    &.menu-open {
      display: flex;
      position: absolute;
      overflow: hidden;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: $bg-primary;

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin: 0 0 2.5rem 0;
          text-align: center;
          animation: fadeIn cubic-bezier(0.3, 0, 0.49, 1) 850ms forwards;

          a {
            font-size: 1.2rem;
            color: $text-secondary;
          }

          &.contact-me {
            display: block;
          }
        }
      }
    }
  }

  &__contact {
    display: none;

    @include lg {
      display: block;
    }
  }

  &__action-buttons {
    display: flex;
  }

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    svg {
      stroke: $text-secondary;
    }

    &.menu-open {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      z-index: 20;

      @include md {
        top: 2.5rem;
      }
    }

    @include lg {
      display: none;
    }
  }

  &__theme-button {
    margin-right: 1rem;

    @include lg {
      margin-right: 2rem;
    }

    svg path {
      fill: $text-secondary;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
