<ng-container *ngIf="items?.length; else noItems">
  <div class="projects">
    <div
      class="project"
      *ngFor="let item of items"
      [routerLink]="['/detail', item.id]"
    >
      <!--span class="cat">
        <ng-template [ngIf]="i % 2 == 0" [ngIfElse]="cat"
          >Front-end</ng-template
        >
        <ng-template #cat>Mobile</ng-template>
      </span-->
      <div class="project__image">
        <img [ngSrc]="item.previewImage" [alt]="item.title" width="540" height="464"/>
      </div>
      <div class="project__description">
        <ul class="project__tags" *ngIf="item?.tags?.length">
          <li *ngFor="let tag of item.tags">
            <span>#{{ tag }}</span>
          </li>
        </ul>
        <h5>{{ item.title }}</h5>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noItems>
  <div class="nothing">
    <img src="assets/images/nothing-found.png" alt="nothing found" />
  </div>
</ng-template>
