@use "/src/assets/base" as *;
@use "/src/assets/mixin" as *;

:host {
  display: block;
  @include inner-page-spacing;

  @include lg {
    padding: 0 3rem;
  }
}

.projects {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  @include md {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
}

.project {
  cursor: pointer;
  position: relative;

  /*span.cat {
    position: absolute;
    top: 0;
    right: 0;
    background: #0ea90e;
    color: white;
    padding: 0.1rem 0.25rem;
    font-size: .7rem;
    border-top-right-radius: .5rem;
    z-index: 1;
  }*/

  &__image {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    &:hover::after {
      content: "view details";
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: rgba($primary-text-dark, 0.7);
      color: $white;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__description {
    margin-top: 1rem;

    h5 {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      color: $text-secondary;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    li:not(:last-of-type) {
      margin-right: 1rem;
    }

    span {
      font-size: 0.8rem;
      color: $text-secondary;
    }
  }
}
