@use "/src/assets/mixin" as *;

.contact {
  &__list {
    margin-left: 1rem;

    @include lg {
      margin-top: 4rem;
      margin-left: 2rem;
    }

    li {
      display: flex;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      a {
        font-size: 0.9rem;

        @include lg {
          font-size: 1.25rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .icon {
      --bg-size: 2rem;
      display: block;
      width: var(--bg-size);
      height: var(--bg-size);
      margin-right: 1rem;
      background-size: contain;
      background-repeat: no-repeat;

      @include sm {
        --bg-size: 3rem;
      }

      @include lg {
        --bg-size: 4rem;
        margin-right: 2rem;
      }

      &--cv {
        background-image: url("/assets/images/cv.svg");
      }

      &--email {
        background-image: url("/assets/images/gmail.svg");
      }

      &--telegram {
        background-image: url("/assets/images/tlg.svg");
      }

      &--linkedin {
        background-image: url("/assets/images/linkedin.svg");
      }
    }
  }
}
