<div class="polygon-background">
  <product-hero
    title="Contact me"
    description="Everything needed to get in touch with me all in one place"
  ></product-hero>
</div>

<div class="inner__page__wrapper">
  <div class="contact inner__page--two-col">
    <div class="left">
      <pf-image
        width="595"
        height="425"
        srcSmall="assets/images/contact-me-sm.png"
        src="assets/images/contact-me.png"
        alt="Contact me"
      ></pf-image>
    </div>
    <div class="right">
      <ul class="contact__list">
        <li>
          <span class="icon icon--cv"></span>
          <a
            href="https://drive.google.com/file/d/1pC7LIq-Ak2h2YjFe8GzVEKFxhdoJ3BNX/view?usp=drive_link"
            target="_blank"
            rel="noopener nofollow"
            >Resume</a
          >
        </li>
        <li>
          <span class="icon icon--linkedin"></span>
          <a
            href="https://www.linkedin.com/in/maksat-rahmanov-b47924125"
            target="_blank"
            rel="noopener nofollow"
            >LinkedIn profile</a
          >
        </li>
        <li>
          <span class="icon icon--email"></span>
          <a href="mailto:maksat.rahmanov@gmail.com">E-mail</a>
        </li>
        <li>
          <span class="icon icon--telegram"></span>
          <a
            href="https://t.me/maksat_rahmanov"
            target="_blank"
            rel="noopener nofollow"
            >Send message</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
