.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.resources {
  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;

    &.figma {
      background-image: url("/assets/images/figma.svg");
    }

    &.download {
      background-image: url("/assets/images/download.svg");
    }
  }
}
