<div class="wrapper">
  <a
    class="pf-button primary"
    *ngIf="resource.liveUrl"
    [href]="resource.liveUrl"
    target="_blank"
    rel="noopener nofollow"
    >Explore Project</a
  >

  <a
    class="pf-button secondary"
    *ngIf="resource.sourceCodeLink"
    [href]="resource.sourceCodeLink"
    target="_blank"
    rel="noopener nofollow"
    >Source Code</a
  >

  <ng-container *ngIf="resource.layoutUrl || resource.downloadLink">
    <div class="resources__list">
      <div class="resources__item" *ngIf="resource.layoutUrl">
        <span class="resources__icon figma"></span>
        <a [href]="resource.layoutUrl" target="_blank" rel="noopener nofollow"
          >Layout</a
        >
      </div>

      <div class="resources__item" *ngIf="resource.downloadLink">
        <span class="resources__icon download"></span>
        <a
          [href]="resource.downloadLink"
          target="_blank"
          rel="noopener nofollow"
          >Download</a
        >
      </div>
    </div>
  </ng-container>
</div>
