<ng-container *ngIf="details">
  <div class="hero__wrapper">
    <product-hero
      [title]="details.title"
      [description]="details.shortDescription"
      color="white"
    >
    </product-hero>
  </div>

  <div class="inner__page__wrapper">
    <div class="details inner__page--two-col">
      <div class="left">
        <img
          class="details__image"
          [ngSrc]="details.detailImage"
          width="960"
          height="544"
          alt="project image"
        />
        <p class="details__description">{{ details.description }}</p>
      </div>
      <aside class="details__list right">
        <h4>About project</h4>

        <section class="details__features">
          <div [innerHTML]="details.features"></div>
          <div [innerHTML]="details.devStack"></div>
        </section>

        <app-action-buttons [resource]="projectResource"></app-action-buttons>
      </aside>
    </div>
  </div>
</ng-container>
