@use "/src/assets/base" as *;

$blocksOffset: 1.25rem;

.hero__wrapper {
  position: relative;
  background: url("/assets/images/hero-cover.png") no-repeat 50% 15%;
  background-size: cover;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($primary-text-dark, 0.8);
  }
}

.details {
  &__list h4 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: $blocksOffset;
  }

  &__description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 650px) and (max-width: $lg) {
      flex-direction: row;
    }

    ::ng-deep strong {
      font-size: 1rem;
    }

    ::ng-deep ul {
      list-style: disc;
      margin-left: 2rem;

      &:not(:last-of-type) {
        margin-bottom: $blocksOffset;
      }
    }
  }
}


