@use "/src/assets/base" as *;

.footer {
  width: 100%;
  padding: 2rem;
  border-top: 1px solid rgba($secondary-text-dark, 0.5);
  background-color: $bg-footer;
  text-align: center;
  font-size: 0.9rem;
  color: $secondary-text-light;
}
