<product-hero
  title="Portfolio Showcase"
  description="Explore the projects I developed using modern frontend tools"
></product-hero>
<ng-container *ngIf="items$ | async as items">
  <projects [items]="items"></projects>
</ng-container>
