@use "/src/assets/base" as *;
@use "/src/assets/mixin" as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vw 0;
  max-width: 60rem;
  margin: 0 auto;
  z-index: 1;
}

h1 {
  --hero-title-size: 2.5rem;
  font-size: var(--hero-title-size);
  font-weight: bold;
  color: $text-primary;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 3rem;
  padding: 0 1rem;

  @include sm {
    --hero-title-size: 3rem;
  }

  @include lg {
    --hero-title-size: 3.75rem;
    line-height: 4rem;
  }
}

p {
  text-align: center;
  padding: 0 1rem;
  color: $text-secondary;
  font-size: 0.95rem;
  line-height: 1.5rem;

  @include lg {
    width: 60%;
  }
}
