//Colors
$white: #fff;
$dark: #121212;

$primary-text-dark: #1a3556;
$primary-text-light: #83a4cf;

$secondary-text-dark: #404046;
$secondary-text-light: #d3d3d3;

$primary-button: #1468b9;
$secondary-button: #404046;
$primary-header-dark: #1a1a1a;
$accent: #0ea90e;

$polygon-dark: #171717;
$polygon-light: #f5f7fe;

$bg-primary: var(--bg-primary);
$bg-header: var(--bg-header);
$bg-footer: var(--bg-footer);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);

//Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1400px;
