@use "base" as *;

@mixin button($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin inner-page-spacing {
  padding: 0 1rem;
  max-width: 80rem;
  margin: 0 auto 3rem auto;
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}
