<div class="polygon-background">
  <product-hero
    title="About Portfolio"
    description="Glance over features and stack used in portfolio showcase development"
  ></product-hero>
</div>

<div class="inner__page__wrapper">
  <div class="about inner__page--two-col">
    <div class="left">
      <pf-image
        width="830"
        height="470"
        srcSmall="assets/images/about-sm.png"
        src="https://media.graphassets.com/sk5ZvNGvTPmcXgjqoqCK"
        alt="Porfolio project image"
      ></pf-image>
      <p class="about__description">
        This web application with self-developed UI inspired by
        <a
          target="_blank"
          rel="noopener nofollow"
          href="https://preview.themeforest.net/item/sassio-software-saas-html5-template/full_screen_preview/35080519"
          ><u>Sassio</u></a
        >
        built with Angular 12 (with update to Angular 15) and GraphCMS is a
        showcase of some projects I worked on recently.
      </p>
    </div>
    <aside class="about__list right">
      <div class="about__features">
        <strong>Features:</strong>
        <ul>
          <li>Serverless: Data is stored in GraphCMS</li>
          <li>Responsive UI</li>
          <li>Themes: Dark & Light</li>
        </ul>

        <strong>Development stack:</strong>
        <ul>
          <li>Angular 15</li>
          <!--<li>Angular Universal</li>-->
          <li>Apollo Angular</li>
          <li>GraphCMS</li>
          <li>Git</li>
          <li>Figma</li>
          <li>Vercel deployment</li>
        </ul>
      </div>
      <app-action-buttons [resource]="projectResource"></app-action-buttons>
    </aside>
  </div>
</div>
