@use "/src/assets/mixin" as *;

.about {
  &__list {
    padding: 0 2rem;

    @include lg {
      padding: 0;
    }
  }

  &__description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0 2rem;
  }

  &__features {
    strong {
      font-size: 1rem;
    }

    ul {
      list-style-type: disc;
      margin: 0 0 1.25rem 2rem;
    }
  }
}
