@use "assets/normalize";
@use "assets/base" as *;
@use "assets/mixin" as *;

* {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat-regular.ttf") format("truetype");
}

:root {
  --bg-primary: #{$white};
  --bg-header: #{$white};
  --bg-footer: #{$primary-text-dark};
  --text-primary: #{$primary-text-dark};
  --text-secondary: #{$secondary-text-dark};
  --bg-polygon: #{$polygon-light};
  --main-logo: url("/assets/images/logo.svg");
}

body {
  font-family: "Montserrat", sans-serif;

  &.dark {
    --bg-primary: #{$dark};
    --bg-header: #{$primary-header-dark};
    --bg-footer: #{$primary-header-dark};
    --text-primary: #{$primary-text-light};
    --text-secondary: #{$secondary-text-light};
    --bg-polygon: #{$polygon-dark};
    --main-logo: url("/assets/images/logo-dark.svg");
  }

  background: $bg-primary;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100vh;
  margin: 0 auto;

  .loading {
    &__wrapper {
      position: relative;
    }

    &__circle-wrapper {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &__circle {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 0.5rem solid rgba($primary-text-dark, 0.2);
      border-top-color: rgba($primary-text-dark, 0.9);
      animation: loading 1.5s infinite linear;
    }
  }

  #app-error {
    padding-bottom: 5rem;
    text-align: center;
    color: $text-secondary;
  }
}

.pf-button {
  font-size: 0.9rem;
  color: $white;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;

  &.primary {
    @include button($primary-button);
  }

  &.secondary {
    @include button($secondary-button);
  }
}

.inner__page__wrapper {
  width: 100%;
  border-top: 1px solid rgba(darken($white, 20%), 0.6);
}

.inner__page {
  &--two-col {
    display: flex;
    flex-direction: column;
    @include inner-page-spacing;
    margin-top: 2rem;
    color: $text-secondary;

    @include lg {
      flex-direction: row;
      padding: 1rem 3rem;
    }

    .left {
      @include lg {
        width: 60%;
      }

      img {
        margin: 0 auto;
      }
    }

    .right {
      margin-top: 2rem;
      font-size: 0.9rem;

      @include lg {
        width: 40%;
        margin: 0 0 0 3rem;
      }
    }
  }
}

.nothing {
  width: 100%;

  img {
    margin: 0 auto;
  }
}

.polygon-background {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 98%);
  background-color: var(--bg-polygon);

  @include lg {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 95%);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
